@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
 /*to make it easy to use in rem in resposiveness ... well do in % so 10 px is (100/16)*10=62.5%*/
font-size: 62.5%;}
body{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}
/* -------html element styling------ */
ul li{
  list-style: none;
}
a
{
  text-decoration: none;
  font-size: 1.6rem;
}
p,li{
  font-size: 1.6rem;
  margin-bottom: 0.5em ;/*font size ka 0.5*/
  letter-spacing: 0.15em;
}
h1,h2,h3{
  margin-bottom: 0.5em;/*as default h1 font is 16px so margin is 8px*/
  letter-spacing: 0.15em;
  font-weight: bolder;
}

/* -------utility class---------- */
.lgheading{
  font-size: 3.0rem;
}
.mdheading{
  font-size: 2.2rem;
}
.txtred{
  color: #e63946;
}
.txtlight{
  color: #f4f4f4;
}
.txtblack{
  color: #333333;
}
.txtgrey{
  color: #555;
}
.txtdark{
  color: black;
  font-weight: 700;
}
.container{
  max-width: 1200px;/*isse zyada na badhega*/
  width: 80%;
  margin: 0 auto;/* to make it center */
}
.btn{
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0.5em;/*font ka adha hoga 0.5em*/
}
.btnp{
  background-color: white;
  border-radius: 10em;
  color:red;
}
.btns{
  border: 2px solid red;
  border-radius: 1.5em;
  color: red;
  text-decoration: none;
  background-color: #fff;
}
.btnp:hover{
  background-color: #ddd;
}
.btns:hover{
  background-color: #eeb6c2;
}

/* --------header styling------ */
.header{ 
  height: 95vh;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/header-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.navbar a:link,.navbar a:visited
{
  color: white;
}
.navbar a{
  padding-bottom: 0.3rem;
}
.navbar a:hover{
  border-bottom: 1px solid #fff;
}
.header .logo{
  float: left;
  margin-top: 1rem;
}
.header .navbar .navitem{
  float: right;
  margin-top: 1rem;
}
.header .navbar .nav-items{
  display: inline-block;
  padding: 1rem;
}
.navbar::after{
  content: "";
  display: block;
  clear: both;
}
.navbar{
padding: 1rem;
}
/* -----header content ----- */
.header-content h1{
font-weight: 700;
}
.header-content p{
text-transform: uppercase;
}
.header-content{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1));
}

/* --------showcase section------- */
.showcase{
background-color: #ddd;
padding: 10rem 0;
}
.row{
height: 350px;
background-color: #fff;
box-shadow: 5px 5px 20px 0px #aaa;
/*horizontal vertical blur spread*/
}
.row1{
margin-bottom: 10rem;
}
.row1 .imgbox ,.row2 .txtbox{
float: left;
width: 50%;
}
.row2 .imgbox ,.row1 .txtbox{
float: right;
width: 50%;
}
.row .imgbox{
height: 100%;
}
.row .txtbox{
padding: 3rem;
}
.row .imgbox img{
display: inline-block;
width: 100%;
height: 100%;
object-fit: cover; /*aspect ratio sahi rahega*/
}
/* -------features section------- */
.features{
padding: 10rem 0;
}
.box{
width: 33.33333%;
float: left;
padding: 2rem;
text-align: center;
}
.box-wrapper{
box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.582) ;
}
.box-wrapper::after{
content: "";
display: block;
clear: both;
}
.box1,.box3{
background-color:#263238;
color: white;
}
.box2{
background-color: #e63946;
color: white;
}
/* ------footer -------- */
.footer{
background-color: #263238;
color: #f4f4f4;
padding: 2rem;
text-align: center;
}
.socialmedialinks i{
margin: 2rem;
}
/* --------media queries------ */
@media (max-width:500px)
{
html{
  font-size: 50%;
}
.navbar .navitem,.navbar .logo{
  float: none;
  display: block;
  width: 100%;
  text-align: center;
}
.row{
  height: auto;
  width: 100%;
}
.row .imgbox,.row .txtbox{
  float: none;
  width: 100%;
  text-align: center;
}
.features .box{
  float: none;
  width: 100%;
  text-align: center;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.582) ;
}
.features .box2 ,.features .box3{
  margin-top: 7rem;
}
.box-wrapper{
box-shadow: none;
}
}
@media (min-width:501px) and (max-width:768px)
{
html{
  font-size: 50%;
}
p{
  font-size: 1.8rem;
}
.navbar .navitem,.navbar .logo{
  float: none;
  display: block;
  width: 100%;
  text-align: center;
}
.row{
  height: auto;
  width: 100%;
}
.row .imgbox,.row .txtbox{
  float: none;
  width: 100%;
  text-align: center;
}
.features .box{
  float: none;
  width: 100%;
  text-align: center;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.582) ;
}
.features .box2 ,.features .box3{
  margin-top: 7rem;
}
.box-wrapper{
box-shadow: none;
}
}
@media (min-width:769px) and (max-width:1200px)
{
html{
font-size: 56.25%;
}
.row .txtbox h2{
font-size: 2.2rem;
font-weight: 600;
}
}
@media (orientation:landscape) and(max-height:500px){
.header{
  height: 90vmax;
}
}